<!DOCTYPE html>
<html>
  <head>
    <title>ImmersiveRailsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar" style="text-align: center; background-color: lightgrey;">
      <h1>Colbert's Guests and Episodes</h1>
      <p>Welcome, <%=current_user.username.capitalize%></p>
      <a href="/guests">Guests</a>
      <a href="/episodes">Episodes</a>
      <a href="/appearances/new">Create a New Appearance</a>
      <a href="javascript:history.back()">Go Back</a>
    </div>

    <p style="color: red;"><%= flash[:notice] %></p>
    <%= yield %>
  </body>
</html>
